<h3>Users List</h3>
<div class="row">
    <div class="col col-md-4 offset-md-4">
        <a routerLink="/add" class="btn btn-dark">Add A New user</a>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Firstname</th>
            <th>LastName</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users$ | async">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td> {{user.age}}</td>
        </tr>
    </tbody>

</table>